<footer>
    <div class="footer">
      <br>
      <p class="text-muted">Copyright &copy;2018 Website by Petr Subotnik</p>
      <ul class="list-inline banner-social-buttons">
        <li class="social-media">
            <a href="https://www.linkedin.com/in/petrsubotnik/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
        <li class="social-media">
            <a href="https://github.com/petrsubotnik" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github+</span></a>
        </li>
        <li class="social-media">
            <a href="https://petrsubotnik.github.io/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Portfolio</span></a>
        </li>
      </ul>
    </div>
</footer>
