

<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
      <a class="nav-link"><%= link_to "Home", root_path %></a>
      <a class="nav-link"><%= link_to "New Food Category", new_food_category_path %></a>
      <a class="nav-link"><%= link_to "New Recipe", new_recipe_path %></a>
  </ul>
</nav>
