<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" ><%= link_to "Home", root_path %><span class="sr-only"></span></a>
      <a class="nav-item nav-link active" ><%= link_to "New Food Category", new_food_category_path %><span class="sr-only"></span></a>
      <a class="nav-item nav-link active" ><%= link_to "New Recipe", new_recipe_path %><span class="sr-only"></span></a>
    </div>
  </div>
</nav>
