<h1 class="food-edit-heading">Add directions</h1>

<%= form_tag new_direction_path, method: "post" %>
  <input type="hidden" name="recipe_id" value="<%= params[:recipe_id] %>" />
  <div id="direction_inputs">
    <p>
      <p>
        <input type="text" name="directions[][step]" class = "form-control form-control-lg" placeholder = "Step (enter munber for each step)"/>
      </p>
      <p>
        <input type="text" name="directions[][instruction]" class = "form-control form-control-lg" placeholder = "Instruction (etc. Boil water in saucepan... )"/>
      </p>
    </p>
  </div>

<a href="#" class = "btn btn-outline-primary btn-lg" id="add_direction">Add More Directions</a>
<div id="hidden_inputs" style="display: none">
  <div id="direction_inputs">
    <p>
      <p>
        <input type="text" name="directions[][step]" class = "form-control form-control-lg" placeholder = "Step"/>
      </p>
      <p>
        <input type="text" name="directions[][instruction]" class = "form-control form-control-lg" placeholder = "Instruction"/>
      </p>
    </p>
  </div>
</div>

<p>
  <input type="submit" value="Submit your recipe" class = "btn btn-outline-danger btn-lg"/>
</p>

<script>
  $(document).ready(function(){
    $("#add_direction").on("click", function(e){
      e.preventDefault();
      var inputs = $("#hidden_inputs").html();
      $("#direction_inputs").append(inputs);
    })
  });
</script>
