<h1 class="food-edit-heading">Add ingredients</h1>

<%= form_tag new_ingredient_path, method: "post" %>
    <input type="hidden" name="recipe_id" value="<%= params[:recipe_id] %>" />
    <div id="ingredient_inputs">
      <p>
        <p>
          <input type="text" name="ingredients[][quantity]" class = "form-control form-control-lg" placeholder = "Enter quantity"/>
        </p>

        <p>
          <input type="text" name="ingredients[][name]" class = "form-control form-control-lg" placeholder = "Enter ingredient"/>
        </p>
      </p>
    </div>


<a href="#" class = "btn btn-outline-primary btn-lg"  id="add_ingredient" >Click to add more ingredients</a>
 <div id="hidden_inputs" style="display: none;">
   <div id="ingredient_inputs">
     <p>
       <p>
         <input type="text" name="ingredients[][quantity]" class = "form-control form-control-lg" placeholder = "Enter quantity"/>
       </p>

       <p>
         <input type="text" name="ingredients[][name]" class = "form-control form-control-lg" placeholder = "Enter ingredient"/>
       </p>
     </p>
   </div>
 </div>

 <p>
   <input type="submit" value="Submit ingredients and proceed to directions" class = "btn btn-outline-danger btn-lg" />
 </p>

 <script>
   $(document).ready(function(){
     $("#add_ingredient").on("click", function(e){
       e.preventDefault();
       var inputs = $("#hidden_inputs").html();
       $("#ingredient_inputs").append(inputs);
     })
   });
 </script>
