/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  height: 60px;
}

.jumbotron {
  background-image: url("http://res.cloudinary.com/dsgd2hpbg/image/upload/v1522043439/image_lftuhx.jpg");
  background-size: cover;
  height: 400px;
}

.display-4 {
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 1em;
}

.lead {
  color: white;
  text-align: center;
}

.footer {
  margin-top: 60px;
  background-color: black;
  text-align: center;
}

.social-media {
  display: inline;
  margin: 20px;
}
/*index page*/

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.card-title{
  text-align: center;
}

/*show page*/

.card2, .card3 {
  display: inline;
}
.card-text {
  margin-top: 15px;
}

.card-info1 {
  display: inline;
  margin-right: 20px;
}

.img-show {
  width: 300px;
  height: 300px;
  margin: 30px;
}

.card-title {
  float: left;
  font-size: 60px;
}

.row {
  border: solid 1px black;
  margin: 20px 150px 20px 150px;
}
