/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
    height: 100%;
 }
 body {
    min-height: 100%;
 }

.navbar {
  height: 60px;
}

.bg-dark {
    background-color: black!important;
    text-align: center;
}

a {
  font-size: 20px;
}

.jumbotron {
  background-image: url("https://i.imgur.com/l5Rc7mQ.jpg?1");
  background-size: cover;
  height: 700px;
}

.container-fluid {
  background-color: #a3a3a3a3;
  padding-top: 60px;
  padding-bottom: 60px;

}

.display-4 {
  font-size: 90px;
  text-shadow: 3px 3px 3px blue;
  color: white;
  text-align: center;
  padding-top: 2em;
  display: block;
  margin: auto;
}

.lead {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 3px blue;
}

.index-text {
  color: black;
  text-align: center;
  font-size: 35px;
  text-shadow: 3px 1px 3px grey;
  margin: 40px auto;
  width: 1000px;
}

.footer {
  position: relative;
  background-color: black;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.social-media {
  display: inline;
  margin: 20px;
}

/*index page*/

.img-fluid {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 300px;
}

.card-title{
  text-align: center;
}


/*show food category page*/

.card-heading {
  font-size: 40px;
  text-shadow: 3px 3px 3px white;
  color: #2552b9;
  margin-top: 20px;
}

.card-cooking {
  width: 700px;
}

.card3 {
  display: inline;
  font-size: 24px;
  color: #c80a0a;
}
.card-text {
  margin-top: 15px;
}

.card-info1 {
  display: inline;
  margin-right: 15px;
}

.img-show {
  width: 400px;
  height: 300px;
  margin: 40px;
}

.card-name {
  float: left;
  font-size: 60px;
}

.row {
  border: solid 1px black;
  margin: 20px 100px 20px 100px;
  background: radial-gradient(white, #bababa);
}

.card-desc {
  width: 650px;
  font-size: 22px;
  margin-top: 20px;
}

/*show recipe page*/

.recipe-heading {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 4px 4px grey;
  margin-top: 30px;
  margin-bottom: 30px;
}

.soup_image img{
  height: 600px;
  width: 900px;
  display: block;
  margin: auto auto;
}

.cooking-recipe-show {
  margin-top: 40px;
  margin-bottom: 40px;
}

.meal-descr {
width: 900px;
display: block;
margin: auto auto;
margin-bottom: 40px;
}

.p-direc-ingred {
  font-size: 20px;
}

.ingred-show {
  width: 300px;
  float:left;
  margin-left: 24%;
}
.direc-show {
  width: 500px;
  float: left;
  margin-left: 20px;
}

.wrapper {
  margin: auto;
  overflow: hidden;
  padding-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*new category and recipe page*/

.form-control, .custom-select {
  width: 700px;
  margin: auto;
  margin-top: 30px;
  border: solid 1px black;
  display: block;
  background-color: #e4e3e3;
}

.btn.btn-outline-danger.btn-lg {
  margin: 50px auto;
  display: block;
}

.food-edit, .recipe-edit {
  min-height: 630px;
}

.food-edit-heading {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
}

.add_ingredient {
  text-align: center;
  display: block;
}

.btn.btn-outline-primary.btn-lg {
  margin: 50px auto;
  display: block;
  width: 300px;
}


@media screen and (max-width: 960px){
  .navbar {
    text-align: center;
  }
}
