
<h1>Cookbook</h1>

<%= link_to "New Food Category", new_food_category_path %>

<ul>
  <% @food_categories.each do |fc| %>
    <li><%= link_to fc.name, food_category_path(fc.id) %></li>
  <%end%>
</ul>
