<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Coolest Cookbook Ever!</h1>
    <p class="lead">Bronwyn's and Petr's recipes</p>
  </div>
</div>


<!-- <ul>
  <% @food_categories.each do |fc| %>
    <li><%= link_to fc.name, food_category_path(fc.id) %></li>
  <%end%>
</ul> -->

<div class="container-fluid">
  <div class="row">

  <% @food_categories.each do |fc| %>

    <div class="col-md-4">
      <div class="card-index">
        <%= link_to food_category_path fc do %>
        <%= cl_image_tag fc.image, class: "img-fluid country-thumb" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= fc.name %></h5>
        </div>
      </div>
    </div>

  <%end%>

  </div>
</div>
